$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#guitarImage {

        border:0px solid black;
        height:340px;
        background-image:url(/images/GretchSilver.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        width:104.5%;

        #fretRange {

          border:2px solid green;
          position:relative;
          top:136px;
          height:25px;
          margin-right:122px;
          margin-left:166px;

          #fretHarm {
            border:1px solid white;
            height:100%;
            width:445px;
            color:black;

            #fretHarmm {
              width:100%;
              height:20px;
              padding:1px;
              border-right:3px solid red;

              #fretHarmzHalf {
                border:0px solid blue;
                background-color:blue;
                padding:1px; width:0px;
                position:relative;
                left:50%;
                height:100%;

              }
              #fretHarmzQuarter {
                border:0px solid yellow;
                background-color:yellow;
                padding:1px;width:0px;
                display:block;
              }

            }
          }
        }

}



#fretNumList {

    display:inline;
    width:80%;
    list-style:none;

    #fretNum {
      border:1px solid black;
      width:12.5%;
      padding:3px;
      text-align:center;
      float:left;
      margin:2px;
      border-radius:5px;
      display:inline-block;

    }
    #fretNum:hover {
      background-color:rgba(0,0,0,0.43);
      cursor:pointer;

    }



}

.halfRatio {

  #fretHarmm{
    #fretHarmzHalf {
     display:block;           
      
    }
    #fretHarmzQuarter {
      display:none;
    }

  }

}

.quartRatio {

  #fretHarmm {
    #fretHarmzHalf {
      display:none;

    }
    #fretHarmzQuarter {
      display:block;
    }
  }
}