$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.navmenu-default {
  background:none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a{

  color:black;
}
body {
  padding: 0;
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGklEQVQYlWOIKLshhQszIAMMAVxgWCkcOAAAxmkWwZZfFWUAAAAASUVORK5CYII=);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
/*  border-bottom: 1px solid #e5e5e5;*/
  /*margin-bottom: 10px;*/

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#navSub {


    font-family:'Pacifico',cursive;

    #navSubMenu li:hover {

      background-color:#74AABB;
      cursor:pointer;
      height:70px;

    }


  
 
  }
#bottomInnerContentNav {

  li:hover {
    background-color:#74AABB;
    cursor:pointer;
  }

 .bottomNavStyle {
  font-family:'Pacifico',cursive;
  border-bottom:2px solid black;
  width:100%;
 }
}
#imageRotate {
   -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    /*background:url(http://localhost:3000/img//guitar/Mobile/vectorGuitarMobile.png);
*/}

#mobileGuitarImage {
  background:url(http://localhost:3000/img/guitar/Mobile/vectorGuitarMobile.png);

}

#guitarImage {
        
        
        
        padding:5px;
       /* background-image:url(/images/GretchSilver.jpg);*/
        background-size:contain;
        background-repeat:no-repeat;
        

        img {

          width:100%;
          z-index:-1;
        }

        #fretRange {

          
          position:relative;
         
          left:7.5%;
          margin-right:10apx;
          margin-left:167px; 
          z-index:1;

          #fretHarm {
           
            height:100%;
            width:655px;
            color:black;

            #fretHarmm {
              width:100%;
              height:100px;
              padding:0px;
              border-right:3px solid red;
              border-left:3px solid red;

              .fretHarmzHalf {
                border:0px solid blue;
                background-color:blue;
                padding:1px; width:0px;
                position:relative;
                left:50%;
                height:100%;


              }
              .fretHarmzQuart {
                border:1px none;
                background-color:none;
                width:0px;
                height:30px;
                border-right:2px solid #44FF22;
                
              }
              .fretHarmzFifth {
                  border:0px solid none;
                  border-right:2px solid #6622bb;
                  
                  padding:0px;
              }
              .fretHarmzThird {

                border:0px none;
                border-right:3px solid black;
             
                padding:0px; 
              }
            }
          }
        }

}

#fretRatioSelect {

  font-family:'Pacifico',cursive;
  font-size:18px;

}
#fretSelector {
  font-family:'Pacifico',cursive;

  span {
    font-size:21px;
    margin:5px;

  }
}
#fretRatioSelect #ratios:hover {
  background-color:rgba(0,0,0,0.43);
      cursor:pointer;
}


 


#fretNumList {

    display:inline;
    
    list-style:none;
    position:relative;
    


    #fretNum {
      border-bottom:1px solid black;
      
      padding:1px;
      text-align:center;
      
      
     
      display:inline-block;
     
      font-family:'Pacifico',cursive;

    }
    #fretNum:hover {
      background-color:rgba(0,0,0,0.43);
      cursor:pointer;

    }
    #fretNum:active {
      background-color:rgba(0,0,0,0.43);
      cursor:pointer;

    }



}


/*.highLighted { 
  background-color:#7CA0AC;


}
.hightLighted2 {
  background-color:#87ACB8;
}
.highLighted3 { 
  background-color:#74AABB;


}
.highLighted4 { 
  background-color:#577179;


}*/

.activeRate1 {
   
    #fretHarmzHalfMain {
     display:block;
    }
    #fretHarmzThirdMain {
      display:none;
    }
    #fretHarmzQuartMain {
      display:none;
    }
    #fretHarmzFifthMain {
      display:none;
    }
     #fretHarmzMobileHalf {
     display:block;
    }
    #fretHarmzMobileThirds {
      display:none;
    }
    #fretHarmzMobileQuarts {
      display:none;
    }
    #fretHarmzMobileFifths {
      display:none;
    }
    


}
.activeRate2 {
   
    #fretHarmzHalfMain {
      display:none;  
    }
    #fretHarmzThirdMain {
      display:block;
      top:0%;

    }

    #fretHarmzQuartMain {
      display:none;

    }
    #fretHarmzFifthMain {
      display:none;

    }
     #fretHarmzMobileHalf {
     display:none;
    }
    #fretHarmzMobileThirds {
      display:block;
    }
    #fretHarmzMobileQuarts {
      display:none;
    }
    #fretHarmzMobileFifths {
      display:none;
    }
  

}
.activeRate3 {
   
    #fretHarmzHalfMain {
      display:block;
      border-color:#44FF22;
    }

    #fretHarmzThirdMain {
      display:none;

    }

    #fretHarmzQuartMain {
      display:block;

    }
    #fretHarmzFifthMain {
      display:none;

    }
     #fretHarmzMobileHalf {
     display:none;
    }
    #fretHarmzMobileThirds {
      display:none;
    }
    #fretHarmzMobileQuarts {
      display:block;
    }
    #fretHarmzMobileFifths {
      display:none;
    }
  

}
.activeRate4 {
   
    #fretHarmzHalfMain {
      display:none;
    }
    #fretHarmzThirdMain {
      display:none;

    }

    #fretHarmzQuartMain {
      display:none;

    }
    #fretHarmzFifthMain {
      display:block;
      top:0%;

    }

  

}


#fretRatioLi {



        :hover {
        background-color:#74AABB;
        cursor:pointer;
        }

       
}


#explainTextContent p {

  font-family:'Oxygen';
}

.highLighter {

  background-color:#74AABB;
}


#explainTextNav li {
  display:inline;
  font-weight:bold;
  border-bottom:1px solid black;
  font-family:'Pacifico',cursive;

}
/*
  .fretSelectionIcon:nth-of-type(1){
  background-color:green;
  }
  .fretSelectionIcon:nth-of-type(2){
  background-color:blue;
  }
  .fretSelectionIcon:nth-of-type(3){
  background-color:black;
  }
  .fretSelectionIcon:nth-of-type(4){
  background-color:green;
  }
  .fretSelectionIcon:nth-of-type(5){
  background-color:purple;
  }

}*/