$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#guitarImage {

        border:0px solid black;
        /*height:340px;*/
        height:auto;
       /* background-image:url(/images/GretchSilver.jpg);*/
        background-size:contain;
        background-repeat:no-repeat;
        width:100%;

        img {

          width:100%;
          z-index:-1;
        }

        #fretRange {

          border:2px solid none;
          position:relative;
         
          height:35px;
          margin-right:114px;
          margin-left:163px; 
          z-index:1;

          #fretHarm {
            border:1px solid none;
            height:100%;
            width:420px;
            color:black;

            #fretHarmm {
              width:100%;
              height:30px;
              padding:0px;
              border-right:3px solid red;
              border-left:3px solid red;

              .fretHarmzHalf {
                border:0px solid blue;
                background-color:blue;
                padding:1px; width:0px;
                position:relative;
                left:50%;
                height:100%;


              }
              .fretHarmzQuart {
                border:1px solid;
                background-color:none;
                width:0px;
                height:30px;
                border-right:2px solid #44FF22;
                
              }
              .fretHarmzFifth {
                  border:0px solid black;
                  border-right:2px solid #6622bb;
                  
                  padding:0px;
              }
              .fretHarmzThird {

                border:0px solid black;
                border-right:3px solid black;
             
                padding:0px; 
              }
            }
          }
        }

}



#fretNumList {

    display:inline;
    width:90%;
    list-style:none;


    #fretNum {
      border:1px solid black;
      width:25.5%;
      padding:3px;
      text-align:center;
      float:left;
      margin:2px;
      border-radius:5px;
      display:inline-block;
      text-align:center;

    }
    #fretNum:hover {
      background-color:rgba(0,0,0,0.43);
      cursor:pointer;

    }



}

.activeRate1 {
   
    #fretHarmzHalfMain {
     display:block;
    }
    #fretHarmzThirdMain {
      display:none;
    }
    #fretHarmzQuartMain {
      display:none;
    }
    #fretHarmzFifthMain {
      display:none;
    }
  

}
.activeRate2 {
   
    #fretHarmzHalfMain {
      display:none;  
    }
    #fretHarmzThirdMain {
      display:block;
      top:0%;

    }

    #fretHarmzQuartMain {
      display:none;

    }
    #fretHarmzFifthMain {
      display:none;

    }

  

}
.activeRate3 {
   
    #fretHarmzHalfMain {
      display:block;
    }

    #fretHarmzThirdMain {
      display:none;

    }

    #fretHarmzQuartMain {
      display:block;

    }
    #fretHarmzFifthMain {
      display:none;

    }
  

}
.activeRate4 {
   
    #fretHarmzHalfMain {
      display:none;
    }
    #fretHarmzThirdMain {
      display:none;

    }

    #fretHarmzQuartMain {
      display:none;

    }
    #fretHarmzFifthMain {
      display:block;
      top:0%;

    }

  

}
