<div id='guitarImage' style='
	border:1px solid black;
	height:340px;
	background-image:url(images/GretchSilver.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	width:105%;
	
'>
	<div id='fretRange' style='
		border:2px solid green;
		position:relative;
		top:136px;
		height:25px;
		margin-right:122px;
		margin-left:163px;
	'>
		<!-- The length of this div is 420... heh. -->

		 <div id='fretHarm' style='
			border:1px solid white;
			height:100%;
			width:445px;
			color:black;

		'>
			<div id='fretHarmm' style='
				border:1px solid red;
				padding:10px;
				width:54%;
			'>

			</div>


		</div>



	</div>

	{{(fretVar[0].values[1]*100)}}




</div>  

		<frets-Scaling></frets-Scaling>
		<my-Directive>Tag</my-Directive>