<div id=''class='col-md-12'style=''>
<div id=''class='col-md-12 col-xs-12'>	
	<fret-Board></fret-Board>
</div>


<div id=''class='col-md-12 col-md-offset-3'style='position:relative;bottom:140px;border:1px none;'>
	

	<div id=''class='col-md-6 col-md-offset-2'style=''>
		<div id=''class='col-md-8'style='border-bottom:1px solid black;'>
		What's this?
		</div>
		<div id=''class='col-md-12'style=''>
			<p>This app helps guitarist learn where the hell they are on the fretboard.</p>

			<p>Currently, you can change the notes on the control box on the left. </p>

			<p>Chords and Scales markers will come very soon.</p>

		</div>
	</div>
</div>
</div>