<div id=''class='col-md-12'style='width:1700px;height:600px;'>
	<div id=''class=''style='width:100%;background-color:#869CA3;height:40%;padding:5px;'>
		<img src='/images/Fretboard.png'style='width:100%; position:relative;z-index:1;'/>
		<div id='fret1'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:5.35%;
								bottom:100%;

			'>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>


			</div>
			<div id='fret2'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:12.60%;
								bottom:197%;'>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
					</div>
			</div>
			<div id='fret3'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:19.60%;
								bottom:295%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret4'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:25.60%;
								bottom:392%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret5'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:31.10%;
								bottom:490%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret6'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:36.20%;
								bottom:589%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
					</div>
				</div>
				<div id='fret7'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:41.10%;
								bottom:687%;
						'>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
					</div>
					<div id=''class=''style='border:1px solid black;position:relative;
					top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
					</div>
				</div>
				<div id='fret8'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:45.80%;
								bottom:785%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret9'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:50%;
								bottom:883%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret10'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:54.30%;
								bottom:980%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret11'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:58.40%;
								bottom:1078%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret12'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:62.120%;
								bottom:1176%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret13'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:65.75%;
								bottom:1274%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret14'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:69.05%;
								bottom:1372%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret14'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:72.50%;
								bottom:1469%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret15'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:75.76%;
								bottom:1567%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret16'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:79.10%;
								bottom:1665%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret17'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:82.2%;
								bottom:1763%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret18'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:85.30%;
								bottom:1861%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret19'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:88.20%;
								bottom:1959%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret20'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:90.78%;
								bottom:2057%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret21'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:93.30%;
								bottom:2154%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret22'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:95.55%;
								bottom:2252%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fret23'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:97.68%;
								bottom:2350%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			<div id='fretRoot'class='' style='width:30px;
								height:225px;
								z-index:2;
								border:1px solid black;
								position:relative;
								left:0%;
								bottom:2448%;

			'>
					<div id=''class=''style='border:1px solid black;position:relative;
				top:10px;background-color:white;width:100%;height:28px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>{{musicNotes[7]}}</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:20px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>C</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:30px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>G#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:45px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>D#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:55px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>A#</p>
				</div>
				<div id=''class=''style='border:1px solid black;position:relative;
				top:65px;background-color:white;width:100%;height:25px;font-size:20px;text-align:center;padding-bottom:3px;'>
					<p>F</p>
				</div>
			</div>
			</div>



		</div>
	</div>

	











</div>