<div id=''class='col-md-12 'style='height:100vh'>

<!-- Desktop View -->
<div id=''class='col-md-12 hidden-sm hidden-xs'>	
	<fret-Board></fret-Board>
	<div id=''class='col-md-12 col-md-offset-3'style='position:relative;bottom:140px;border:1px none;'>
	

		<div id=''class='col-md-12'style=''>
			<h4 class='col-md-12'>READ FIRST</h4>

			<div class='col-md-12'>
			This is a web app to help guitarist better understand their instrument in different tunings.
			<br>
			<br>
			Currently, it's very functional. 
			<br>
			<br>
			<ul>You can 
				<li> Tune each individual string</li>
				<li> Tune all strings at once </li>
				<li> Visualize different musical scales within different tunings</li>
				<li> See different chords within different tunings</li>
			</ul>


			<h3>Right now</h3> the UI is clunky. I plan to update this site quite often with different scales and general touch ups. So bear with me. 

			<p> Make sure you clear out the scales with the reset scales button if you want to use the chords, vice versa for the chords. </p>

			</div>
		</div>
	</div>

</div>



</div>

<!-- Mobile View -->

<div id=''class='col-sm-12 col-xs-12 hidden-md hidden-lg'style='max-height:1520px;'>
 <fretboard-Mini></fretboard-Mini>


</div>

</div>