<div class='container' style='

	
'>

			<div id='guitarImage' style='
				border:1px solid none;
				border-radius:15px;
				border-right:3px solid black;
				border-bottom:4px solid black;
				
			'>
				<img src="/images/GretchSilver.png" class='img-responsive img-rounded'/>
				<div id='fretRange' class=''style='
					position:relative;
					bottom:220px;
					
					height:100px;
				'>
					<!-- The length of this div is 420... heh. -->

					 <div id='fretHarm' style='
						

					'>
					    <guitar-Neck></guitar-Neck>
						


					</div>



				</div>







			</div>  
			<br>
			
	<div id='bottomContent' class='col-md-12' style='
	background-color:#B1E0F0;
	border-right:3px solid black;
	border-bottom:3px solid black;
	 padding:0px;
	margin:5px;
	width:100%;
	position:relative;
	left:25%;
	border-radius:15px;

													 						'>
		<div class='row'>
			<div id='bottomInnerContent' style=''>										 <ul id='bottomInnerContentNav' style='
						float:left;
						width:20%;
						list-style:none;
						margin-top:14px;
						position:relative;
						
						text-align:right;
						border-right:3px solid black;
						height:250px;


			'>
						<li id='bottomTools' class='bottomNavStyle' style='
							font-size:18px;
							position:relative;
							right:20%;
							top:20%;

						'>Fret Selector & Ratio</li>
						<li id='bottomText' class='bottomNavStyle' style='
							font-size:18px;
							position:relative;
							right:20%;
							top:20%;

						'> Brief Rundown</li>
						</ul>
				<div id='fretSelection' class='container' style='
				
				'>

					<div id='fretSelectors' class='col-md-12' style='
						height:70%;width:30%;
						float:left;
					'>
					 <fret-Selection></fret-Selection>
					</div>

					<div>
						<fret-Ratioselector></fret-Ratioselector>
					</div>

					
				</div>
			</div>
		</div>
	</div>	