<div id='fretRatioSelect' class='hidden-sm hidden-xs'style='
					float:left;
					


					'>

						Select String Division:
						<ul style='list-style:none;'>
							
							<li id='fretRatioLi' ng-click='fretReset()'>
							<div class='fretSelectIcon' style='background-color:red;
							border:13px solid red;
							width:15px;
							height:15px;
							border-radius:100%;
							float:left;
							position:relative;
							top:10px;
							margin-right:15px;'> 
							</div>
							<div>Show All</div>
							</li><br>
							<li ng-repeat='ratios in fretRatios' id='fretRatioLi'style='position:relative;
							bottom:35px;'ng-click='fretsDiv(ratios.type)'>
								<div class='fretSelectIcon' ng-style='myColor'  style='
							border:13px solid red;
							width:15px;
							height:15px;
							border-radius:100%;
							float:left;
							position:relative;
							top:10px;
							margin-right:15px;'> 
							</div>
								
									<div>	{{ratios.name}} <div>
									
								
							</li>
							
						</ul>
						
						
</div>
