<div id='fretSelection' class='container' style=''>
	<div id='fretSelector' class='col-md-12 hidden-sm hidden-xs' style='
			
			'>
				
			<span class='col-md-12'>Select your starting fret:</span> 
				<div id='fretNumList' ng-model='guitarCss' class='col-md-6' style=''>
					<div ng-repeat='i in fretVar[0].widthPercent|limitTo:25' ng-model='guitarCss' ng-click='fretPercent(i)' class='col-md-3'>
							<div id='fretNum' class='col-md-4'style='font-size:20px;margin:3px;'>
								{{$index}}
							</div>
					</div>		
				</div>
	</div>

	<div id=''class='col-xs-12 col-sm-12 hidden-md hidden-lg'style=''>
		<div uib-dropdown>
			<button uib-dropdown-toggle class='btn btn-default' type='button' id=''>
			 Select fret... 
			 	<span class='caret'></span>
			 </button>

			 <ul uib-dropdown-menu ng-model='guitarMobileCss'>
			 	<li id='fretNum'ng-repeat='i in fretVar[0].widthPercent |limitTo:22' ng-model='guitarMobileCss' ng-click='fretMobilePercent(i)' class='' >
			 	{{$index}}
			 	</li>
			 </ul>
			</div>


	</div>
</div>




