<div class='container'>

			<div id='guitarImage' style='
				
				
			'>
				<div id='fretRange' style='
					
				'>
					<!-- The length of this div is 420... heh. -->

					 <div id='fretHarm' style='
						

					'>
					    <guitar-Neck></guitar-Neck>
						


					</div>



				</div>







			</div>  
			
			<div id='fretSelection' class='container' style=''>

				<div id='fretSelector' class='col-md-12' style='
					height:70%;width:30%;
					float:left;
				'>
				
						Select your starting fret. 
						<ul id='fretNumList' ng-model='guitarCss' class='col-md-4' style='width:30%;'>
						<li ng-repeat='i in fretVar[0].widthPercent|limitTo:25' ng-model='guitarCss' ng-click='fretPercent(i)' class=''>
							<div id='fretNum' style=''>{{$index}}</div>
							</li>		
						</ul>
				</div>

				<div id='fretRatioSelect' style=''>
					<label>
						<input type='checkbox' id='0' ng-class="{'activeRate':rate==0}" ng-click='rate=0'>One-Half (1/2)</input>
					</label>
					<label>
						<input type='checkbox' id='1' ng-class="{'activeRate':rate==1}" ng-click='rate=1'>
						One-Fourth (1/4)
						</input>

					</label>
				</div>
			</div>
			