<div id=''class=''style='width:100%;background-color:#869CA3;height:40%;padding:5px;'>
	<div id=''class='hidden-sm hidden-xs'>	
		<img src='/images/Fretboard.png'style='width:100%; position:relative;z-index:1;'/>
			<div id=''class=''style='position:relative; top:5px;padding:0;'>
				<div id='EstringTop'class='eString'style='position:relative;bottom:225px;z-index:2;'>
					<g-String root='stringE'></g-String>
				</div>
				<div id='Bstring'class=''style='position:relative;bottom:225px;z-index:2;'>
					<g-String root='stringB'></g-String>
				</div>
				<div id='Gstring'class=''style='position:relative;bottom:225px;z-index:2;'>
					<g-String root='stringG'></g-String>
				</div>
				<div id='Dstring'class=''style='position:relative;bottom:215px;z-index:2;'>
					<g-String root='stringD'></g-String>
				</div>
				<div id='Astring'class=''style='position:relative;bottom:210px;z-index:2;'>
					<g-String root='stringA'></g-String>
				</div>
				<div id='EstringBottom'class='eString'style='position:relative;bottom:205px;z-index:2;'>
					<g-String root='stringEe'></g-String>
				</div>
			</div>


			<div id=''class='col-md-12'style='border:1px solid black;padding:1%; position:relative;
			bottom:18vh';>
				<div id=''class='col-md-6' style=''>
					<string-Selection stringe='stringE' stringb='stringB' stringg='stringG' stringd='stringD' stringa='stringA' stringee='stringEe'></string-Selection>
				</div>
				<div id=''class='col-md-6' style=''>
						Placeholder text
				</div>
			</div>
		</div>
</div>
