
			<div id='fretSelection' class='container' style=''>

				<div id='fretSelector' class='col-md-12' style='
					height:30%;width:30%;
					float:left;
					'>
				
						<span>Select your starting fret:</span> 
						<ul id='fretNumList' ng-model='guitarCss' class='col-md-4' style=''>
						<li ng-repeat='i in fretVar[0].widthPercent|limitTo:25' ng-model='guitarCss' ng-click='fretPercent(i)' class='text-center;'>
							<div id='fretNum' style='font-size:14px;'>{{$index}}</div>
							</li>		
						</ul>
				</div>
			</div>