<div id=''class=''style='width:100%;height:40%;padding:5px;'>
	<div id=''class='hidden-sm hidden-xs'style='width:1650px;'>	
		<img src='/images/Fretboard.png'style='width:99.8%; position:relative;z-index:1;border:3px solid #ccc;'/>
			<div id=''class=''style='position:relative; top:5px;padding:0;'>
				<div id='EstringTop'class='eString'style='position:relative;bottom:225px;z-index:2;'>
					<g-String root='stringE'class='col-md-12' scale=''></g-String>
				</div>
				<div id='Bstring'class=''style='position:relative;bottom:225px;z-index:2;'>
					<g-String root='stringB'class='col-md-12'scale=''></g-String>
				</div>
				<div id='Gstring'class=''style='position:relative;bottom:225px;z-index:2;'>
					<g-String root='stringG'class='col-md-12'scale=''></g-String>
				</div>
				<div id='Dstring'class=''style='position:relative;bottom:215px;z-index:2;'>
					<g-String root='stringD'class='col-md-12'scale=''></g-String>
				</div>
				<div id='Astring'class=''style='position:relative;bottom:210px;z-index:2;'>
					<g-String root='stringA'class='col-md-12'scale=''></g-String>
				</div>
				<div id='EstringBottom'class='eString'style='position:relative;bottom:205px;z-index:2;'>
					<g-String root='stringEe'class='col-md-12'scale=''></g-String>
				</div>
			</div>


			<div id=''class='col-md-12'style='border:1px solid black;padding:1%; position:relative;
			bottom:18vh';>
				<div id=''class='col-md-6' style=''>
					<div id=''class='col-md-8'style='border-bottom:1px solid black;'>
						Please choose the strings' root note.
					</div>
					<div id=''class='col-md-12'style=''>
					<br>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-6'>Top E is tuned to </span> <span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{musicNotes[stringE]}}</span>
						
						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChangeE()' ng-model='stringE'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>B is tuned to</span> <span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{musicNotes[stringB]}}</span>						
						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' style=''ng-click='noteChangeB()' ng-model='stringB'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>G is tuned to</span> <span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{musicNotes[stringG]}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChangeG(note)' ng-model='stringG'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>D is tuned to </span><span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{musicNotes[stringD]}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChangeD(note)' ng-model='stringD'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>A is tuned to </span><span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{musicNotes[stringA]}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChangeA(note)' ng-model='stringA'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-7'>E is tuned to </span><span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{musicNotes[stringEe]}}
	</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChangeEe()' ng-model='stringEe'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id="" d=''class='col-md-12'style='border:1px solid black'>
						<div id=''class='col-md-4'style='border:1px solid black' ng-click='standardTune()'>
						Standard

						</div>
						<div id=''class='col-md-4'style='border:1px solid black' ng-click='fullStep()'>
						Full Step Down

						</div>
						<div id=''class='col-md-4'style='border:1px solid black' ng-click='openD()'>
						Open D

						</div>
					</div>
 <!-- 
					<string-Selection stringe='stringE' stringb='stringB' stringg='stringG' stringd='stringD' stringa='stringA' stringee='stringEe'></string-Selection> -->
				</div>
				<div id=''class='col-md-6' style=''>
						<div id=''class='col-md-12'style=''>
							Pick your scale and scale root.

							
						</div>
						<div id=''class='col-md-4'>
							<div id=''class='col-md-12'style='border:1px solid black;'ng-repeat='scal in allScales'ng-model='pickedScale'ng-click='pickin(scal.scale)'>
								{{scal.name}}

							</div>
							
						</div>
						<div id=''class='col-md-7'style='border:1px solid black;'>
							<div ng-repeat='tone in musicNotes' class='col-md-2'ng-click='toneSelect($index)'>
							{{tone}}
							</div>

							
							<br>
							<div id=''class='col-md-12'ng-model='chooseScale(pickedScale, toneValue)'>



							<br>
							
							<div id=''class='col-md-12'>
							Current Root: {{musicNotes[toneValue]}}
							</div>
							<br>
							<div id=''class='col-md-12'>
								<div class='col-md-4'>
									Current Notes:
								</div>
								<div class='col-md-1'ng-repeat='cNote in currentScale'>
								{{musicNotes[cNote]}}
								</div>
							</div>
							</div>
						</div>

				</div>
			</div>
		</div>
</div>
