<div id='fretRatioSelect' style='
					float:left;
					border:1px solid black;


					'>
						Select String Division:
						<ul style='list-style:none;'>
							<label>
							<input type='button' ng-click='fretReset()'>
								Show All 
								</input>
							</label>
							<li ng-repeat='ratios in fretRatios'>
								<label>
									<input type='button'ng-click='fretDiv(ratios.type)'>
										{{ratios.name}} 
									</input>
								</label>
							</li>
							
						</ul>
						
					</div>