<div id=''class='col-md-12'style='border:1px none';>
					
					
					<!-- First 5 frets -->
					<div id=''class='col-md-4'style='border:1px none'>
						<!-- Root -->
						<div id=''class='col-md-1'style=''>
							<div id=''class='col-md-3'style='position:relative;right:50px;top:8px;'class='guitarNote'>
								<span   color-note stuff='scale' note='{{notes0}}'style='border:1px solid black; background-color:white' >{{note0}}</span>
							</div>
						</div>
						 <!-- First -->
						<div id=''class='col-md-1'style='padding:1%;'>
						<div id=''class='col-md-4 col-md-offset-8'style='padding:1%;'>
							<span color-Note stuff='scale' note='{{notes1}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note1}}</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-4 col-md-offset-8'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes2}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note2}}</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:2px none;padding:1%;'>
							<div id=''class='col-md-4 col-md-offset-7'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes3}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note3}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-4 col-md-offset-7'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes4}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note4}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-4 col-md-offset-10'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes5}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note5}}
							</span>
							</div>
						</div>
					</div>

					<!-- 6th to  10-->
					<div id=''class='col-md-3'style='border:1px none; '>

							<div id=''class='col-md-2'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-5 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes6}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note6}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-5 col-md-offset-4'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes7}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note7}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes8}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note8}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-5 col-md-offset-1'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes9}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note9}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-3'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes10}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note10}}
							</span>
							</div>
						</div>
					</div>

					<!-- 11 to  15-->
					<div id=''class='col-md-2'style='border:1px none;'>
								<div id=''class='col-md-2'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-6 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes11}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note11}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-6 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes0}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note0}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes1}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note1}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-2'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-4 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes2}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note2}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-1 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-12 col-md-offset-10'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes3}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note3}}
							</span>
							</div>
						</div>
					</div>
					<div id=''class='col-md-2'style='border:1px none;'>
						<div id=''class='col-md-2'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-3'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes4}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note4}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-2'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes5}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note5}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes6}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note6}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-2'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes7}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note7}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-5'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes8}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note8}}
							</span>
							</div>
						</div>
					</div>
					<div id=''class='col-md-1'style='border:1px solid none;;'>
							<div id=''class=''style='position:relative; bottom:-2px;right:12px;'>
							<div id=''class='col-md-1'style='border:1px solid none;'>
							<span color-Note stuff='scale' note='{{notes9}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note9}}
							</span>
							</div>

							<div id=''class='col-md-1'style='border:1px solid none;'>
							<span color-Note stuff='scale' note='{{notes10}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note10}}
							</span>
							</div>
							<div id=''class='col-md-1'style='border:1px solid none;'>
							<span color-Note stuff='scale' note='{{notes11}}'style='border:1px solid black; background-color:white' class='guitarNote'>{{note11}}
							</span>
							</div>
							
							</div>
					</div>
				

			</div>