<div id=''class='col-xs-1'style=';position:relative;height:1290px;'>

	<div id=''class='col-xs-12'style='position:relative;'>
	
<span style='background-color:white;'color-Note stuff='scale'note='{{notes0}}'>{{note0}}
	</span></div>


	<div id=''class='col-xs-12'style='position:relative;top:4%;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes1}}'>{{note1}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:10% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes2}}'>{{note2}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:15% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes3}}'>{{note3}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:20% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes4}}'>{{note4}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:23% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes5}}'>{{note5}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:27% ;'>	
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes6}}'>{{note6}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:30% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes7}}'>{{note7}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:33% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes8}}'>{{note8}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:36% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes9}}'>{{note9}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:38.5% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes10}}'>{{note10}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:41% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes11}}'>{{note11}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:43% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes0}}'>{{note0}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:45% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes1}}'>{{note1}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:47% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes2}}'>{{note2}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:49% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes3}}'>{{note3}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:50% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes4}}'>{{note4}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:52% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes5}}'>{{note5}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:53% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes6}}'>{{note6}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:55% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes7}}'>{{note7}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:56.5% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes8}}'>{{note8}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:57.5% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes9}}'>{{note9}}
	</span></div>
		<div id=''class='col-xs-12'style='position:relative;top:58.5% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes10}}'>{{note10}}
	</span></div>
	<div id=''class='col-xs-12'style='position:relative;top:59.5% ;'>
	<span style='background-color:white;'color-Note stuff='scale'note='{{notes11}}'>{{note11}}
	</span></div>


</div>