<div id='guitarNeckMobile'class='col-xs-12 col-sm-12'style='border-bottom:3px solid black;;padding:0;height:100%;'>
	 <div id='fretWrapper'class=''style='height:100%;
	 border:1px none;
	 width:26.5%;
	 position:relative;
	 left:36%;'>

	 	<div id='fretHarmzMobileHalf'class=''style='border:1px none;height:100%;width:100%;'>
	 		<div id=''class=''style='border:1px solid none;
			position:relative;
			top:47%;right:51%;
			width:200%;
			height:40px;margin-bottom:100%;'>
			<img src='http://159.203.107.182:3000/img/guitar/Mobile/harmonicSelectionMobileHalf.png' style='width:100%;
			height:100%;'/>
			</div>
	 	</div>

	
	 	<div id='fretHarmzMobileThird'class=''style='border:1px none;height:100%;width:100%;position:relative;bottom:100%;'>
	 		<div id=''class=''style='border:1px solid none;
			position:relative;
			top:32%;right:51%;
			width:200%;
			height:40px;'>
			<img src='http://159.203.107.182:3000/img/guitar/Mobile/harmonicSelectionMobileThirds.png' style='width:100%;
			height:100%;'/>
			</div>
			<div id=''class=''style='border:1px solid none;
			position:relative;
			top:55.5%;right:51%;
			width:200%;
			height:40px;'>
			<img src='http://159.203.107.182:3000/img/guitar/Mobile/harmonicSelectionMobileThirds.png' style='width:100%;
			height:100%;'/>
			</div>
	 	</div>


	 	<div id='fretHarmzMobileQuart'class=''style='border:1px none;height:100%;width:100%;position:relative;bottom:200%;'>
	 		<div id=''class=''style='border:1px solid none;
			position:relative;
			top:22.5%;right:51%;
			width:200%;
			height:40px;'>
			<img src='http://159.203.107.182:3000/img/guitar/Mobile/harmonicSelectionMobileFourths.png' style='width:100%;
			height:100%;'/>
			</div>
			
			<div id=''class=''style='border:1px solid none;
			position:relative;
			top:64%;right:51%;
			width:200%;
			height:40px;'>
			<img src='http://159.203.107.182:3000/img/guitar/Mobile/harmonicSelectionMobileFourths.png' style='width:100%;
			height:100%;'/>
			</div>
	 	</div>

	 </div>

	  <div id='fretWrapper'class='hidden-sm'style='height:100%;
	 border:1px none;
	 width:26.5%;
	 position:relative;
	 left:34.5%;'>




	 </div>

</div>