<div id=''class='col-md-12'style='';>
					
					
					<!-- First 5 frets -->
					<div id=''class='col-md-4'style='border:1px none'>
						<!-- Root -->
						<div id=''class='col-md-1'style=''>
							<div id=''class='col-md-3'style='position:relative;right:60px;top:6px;'class='guitarNote'>
								<span   color-note stuff='scale' note='{{notes0}}'style='border:1px solid black; background-color:white;position:relative;left:38px;bottom' >{{note11}}</span>
							</div>
						</div>
						 <!-- First -->
						<div id=''class='col-md-1'style='padding:1%;'>
						<div id=''class='col-md-4 col-md-offset-8'style='padding:1%;'>
							<span color-Note stuff='scale' note='{{notes1}}'style='border:1px solid black; background-color:white;position:relative;right:25px;' class='guitarNote'>{{note10}}</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-4 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes2}}'style='position:relative;right:48px;border:1px solid black; background-color:white' class='guitarNote'>{{note9}}</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:2px none;padding:1%;'>
							<div id=''class='col-md-4 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes3}}'style='border:1px solid black; background-color:white;position:relative;right:89px;' class='guitarNote'>{{note8}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-4 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes4}}'style='border:1px solid black; background-color:white;position:relative;right:130px;' class='guitarNote'>{{note7}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-4'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes5}}'style='border:1px solid black; background-color:white;position:relative;right:158px;' class='guitarNote'>{{note6}}
							</span>
							</div>
						</div>
					</div>

					<!-- 6th to  10-->
					<div id=''class='col-md-3'style='border:1px none;position:relative;right:270px; '>

							<div id=''class='col-md-2'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-5 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes6}}'style='border:1px solid black; background-color:white;position:relative;right:15px;' class='guitarNote'>{{note5}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-5 col-md-offset-4'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes7}}'style='border:1px solid black; background-color:white;position:relative;right:50px;' class='guitarNote'>{{note4}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 col-md-offset-6'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes8}}'style='border:1px solid black; background-color:white;position:relative;right:70px;' class='guitarNote'>{{note3}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-5 col-md-offset-1'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes9}}'style=' background-color:white;position:relative;right:90px;' class='guitarNote'>{{note2}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes10}}'style='border:1px solid black; background-color:white;position:relative;right:89px;' class='guitarNote'>{{note1}}
							</span>
							</div>
						</div>
					</div>

					<!-- 11 to  15-->
					<div id=''class='col-md-2'style='border:1px none;'>
								<div id=''class='col-md-2'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-6 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes11}}'style='border:1px solid black; background-color:white;position:relative;right:390px;' class='guitarNote'>{{note0}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-6 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes0}}'style='border:1px solid black; background-color:white;position:relative;right:370px;' class='guitarNote'>{{note11}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes1}}'style='border:1px solid black; background-color:white;position:relative;right:344px;' class='guitarNote'>{{note10}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
						<div id=''class='col-md-4 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes2}}'style='border:1px solid black; background-color:white;position:relative;right:320px;' class='guitarNote'>{{note9}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-1 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-4 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes3}}'style='border:1px solid black; background-color:white;position:relative;right:280px;' class='guitarNote'>{{note8}}
							</span>
							</div>
						</div>
					</div>
					<div id=''class='col-md-2'style='border:1px none;'>
						<div id=''class='col-md-2'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes4}}'style='border:1px solid black; background-color:white;position:relative;right:320px;' class='guitarNote'>{{note7}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes5}}'style='border:; background-color:white;position:relative;right:300px;' class='guitarNote'>{{note6}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes6}}'style='border:1px solid black; background-color:white;position:relative;right:255px;' class='guitarNote'>{{note5}}
							</div>
						</div>
						<div id=''class='col-md-2 col-md-offset-1'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes7}}'style='border:1px solid black; background-color:white;position:relative;right:225px;' class='guitarNote'>{{note4}}
							</span>
							</div>
						</div>
						<div id=''class='col-md-2 'style='border:1px none;padding:1%;'>
							<div id=''class='col-md-5 'style='border:1px none;padding:1%;'>
							<span color-Note stuff='scale' note='{{notes8}}'style='border:1px solid black; background-color:white;position:relative;right:170px;' class='guitarNote'>{{note3}}
							</span>
							</div>
						</div>
					</div>
					<div id=''class='col-md-1'style='border:1px solid none;;'>
							<div id=''class=''style='position:relative; bottom:-2px;right:12px;'>
							<div id=''class='col-md-1'style='border:1px solid none;'>
							<span color-Note stuff='scale' note='{{notes9}}'style='border:1px solid black;;position:relative;right:128px;' class='guitarNote'>{{note2}}
							</span>
							</div>

							<div id=''class='col-md-1'style='border:1px solid none;'>
							<span color-Note stuff='scale' note='{{notes10}}'style='border:1px solid black; background-color:white;position:relative;right:45px;' class='guitarNote'>{{note1}}
							</span>
							</div>
							<div id=''class='col-md-1'style='border:1px solid none;'>
							<span color-Note stuff='scale' note='{{notes11}}'style='border:1px solid black; background-color:white;position:relative;left:20px;bottom:10px;' class='guitarNote'><h5>{{note0}}</h5>
							</span>
							</div>
							
							</div>
					</div>
				

			</div>