<div id=''class='col-md-12'style='border:1px solid black;padding:1%;'>
	<div id=''class='col-md-8'style='border-bottom:1px solid black;'>
						Please choose the strings' root note.
					</div>
					<div id=''class='col-md-12'style=''>
					<br>
						<div id=''class='col-md-5'style=''>
						Top E is tuned to {{currentNote0}}

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='changeNoteE(note)'>
								{{note}}
								</li>

						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						B is tuned to {{currentNote1}}						</div>
						<div id=''class=''style=''>

						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						G is tuned to {{currentNote2}}

						</div>
						<div id=''class=''style=''>

						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						D is tuned to {{currentNote3}}

						</div>
						<div id=''class='col-md-5'style=''>

						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						A string is tuned to {{currentNote4}}

						</div>
						<div id=''class=''style=''>

						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						Bottom E is tuned to {{currentNote5}}

						</div>
						<div id=''class=''style=''>

						</div>
					</div>

	
</div>