<div id=''class='col-md-12'style='border:1px solid black;padding:1%;'>
	<div id=''class='col-md-8'style='border-bottom:1px solid black;'>
						Please choose the strings' root note.
					</div>
					<div id=''class='col-md-12'style=''>
					<br>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-6'>Top E is tuned to </span> <span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{currentNote0}}</span>
						
						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChange(note)' ng-model='stringE'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>B is tuned to</span> <span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{currentNote1}}</span>						
						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChange(note)' ng-model='changeNote'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>G is tuned to</span> <span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{currentNote2}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChange(note)' ng-model='changeNote'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>D is tuned to </span><span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{currentNote3}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChange(note)' ng-model='changeNote'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-5'>A is tuned to </span><span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{currentNote4}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChange(note)' ng-model='changeNote'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>
					<br>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-5'style=''>
						<span class='col-md-7'>Bottom E is tuned to </span><span class='col-md-3' style='float:right;border-right:1px solid black;border-left:1px solid black;
						text-align:center;'>{{currentNote5}}</span>

						</div>
						<div id=''class='col-md-7'style=''>
							<ul style='list-style:none;display:inline;'>
								<li ng-repeat='note in musicNotes'class='col-md-1' ng-click='noteChange(note)' ng-model='changeNote'>
								{{note}}
								</li>
							</ul>
						</div>
					</div>

	
</div>